
<div class="main_head">
  <div class="chat_name">
    hogefuga
  </div>
  <div class="chat_end">
    <a half="">チャットを終了する</a>
  </div>
</div>
<div class="main_front">
  <div class="messages">
    <div class="messages_top">
      <div class="message_user">
        Tom
      </div>
      <div class="create_at">
        2020/3/31(Wed) 12:00:00
      </div>
    </div>
    <div class="message_bottom">
      <div class="message_text">
        おはよう
      </div>
    </div>
  </div>
  <div class="messages">
    <div class="messages_top">
      <div class="message_user">
        Tom
      </div>
      <div class="create_at">
        2020/3/31(Wed) 12:00:00
      </div>
    </div>
    <div class="message_bottom">
      <div class="message_text">
        おはよう
      </div>
    </div>
  </div>
</div>
<div class="main_form">
  <div class="message_box">
    <input placeholder="type a message" class="message_form">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="message_btn">
</div>