<div class="side_head">
  <div class="user_link">
    <a half="#">Tom</a>
  </div>
  <div class="chat_edit">
    <a half="#">チャットを作成する</a>
  </div>
</div>
<div class="side_front">
  <div class="chat_link">
    <a half="#">techroom1</a>
  </div>
  <div class="chat_link">
    <a half="#">techroom2</a>
  </div>
</div>