<div class="side_head">
  <div class="user_link">
    <%=  link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat_edit">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="side_front">
  <% current_user.rooms.each do |room| %>
    <div class="chat_link">
      <a half="#"><%= room.name %></a>
    </div>
  <% end %>
</div>